header {
	margin: 0 auto;
	width: 600px;
	color: blue;
	padding: 1em;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 600px;
    /* To see the outline of the form */
    padding: 1.5em;
    border: 1px solid #ff3300;
    border-radius: 1em;

}

.btninit{
	width: 150px;
	background-color: #db6600;
	padding: 6px 3px 6px;
	color: #ddd;
	border: 1px solid #db6600; 
	clear: both;
	margin-left: 42%;
}

form div + div {
    margin-top: 1em;
}

label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em;

    /* To give the same size to all text field */
    width: 300px;
   

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
    
	/*width: 10em;
	font-size: 1em;*/
	padding: 2px 6px;
}
/*input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}*/







